<img src = 'image/슬라이드1.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드2.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드3.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드4.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [1]:
import os
os.getcwd()

'/home/daesang204/14. 분석도구활용과정 4-5일차_파이썬으로 데이터 다루기/src'

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 81.4 MB/s eta 0:00:0000:010:01
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2022.7.1)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.6-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 90.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.21.6 pandas-1.3.5

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('data/member_info.csv')
df

   회원번호   이름  나이 성별
0     1  홍길동  21  M
1     2  김덕배  19  M

<img src = 'image/슬라이드5.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [9]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePathOrBuffer',
    sep=<no_default>,
    delimiter=None,
    header='infer',
    names=<no_default>,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=<no_default>,
    mangle_dupe_cols=True,
    dtype: 'DtypeArg | None' = None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal: 'str' = '.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors: 'str | None' = 'strict',
    dialect=None,
    error_bad_lines=None,
    warn_bad_lines=None,
    on_bad_lines=None,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    storage_options: 'StorageOptions' = None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      /srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/io/parsers/readers.py
Type:      function

<img src = 'image/슬라이드6.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [13]:
df.to_csv('data/copy.csv', index=False)  ' ,'

In [12]:
df.to_csv?

Signature:
df.to_csv(
    path_or_buf: 'FilePathOrBuffer[AnyStr] | None' = None,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    line_terminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'str' = 'strict',
    storage_options: 'StorageOptions' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str or file handle, default None
    File path or object, if None is provided the result is returned as
    a string.  If a non-binary file object is passed, it should be opened
    with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.

    .. versionchanged:: 1.2.0

       Support for binary file objects was introduced.

sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, default None
    Format string for floating point numbers.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : str
    Python write mode, default 'w'.
encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    If str, represents compression mode. If dict, value at 'method' is
    the compression mode. Compression mode may be any of the following
    possible values: {'infer', 'gzip', 'bz2', 'zip', 'xz', None}. If
    compression mode is 'infer' and `path_or_buf` is path-like, then
    detect compression mode from the following extensions: '.gz',
    '.bz2', '.zip' or '.xz'. (otherwise no compression). If dict given
    and mode is one of {'zip', 'gzip', 'bz2'}, or inferred as
    one of the above, other entries passed as
    additional compression options.

    .. versionchanged:: 1.0.0

       May now be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

    .. versionchanged:: 1.1.0

       Passing compression options as keys in dict is
       supported for compression modes 'gzip' and 'bz2'
       as well as 'zip'.

    .. versionchanged:: 1.2.0

        Compression is supported for binary file objects.

    .. versionchanged:: 1.2.0

        Previous versions forwarded dict entries for 'gzip' to
        `gzip.open` instead of `gzip.GzipFile` which prevented
        setting `mtime`.

quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
line_terminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).
chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

    .. versionadded:: 1.1.0

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2.0

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

Create 'out.zip' containing 'out.csv'

>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP
File:      /srv/conda/envs/notebook/lib/python3.7/site-packages/pandas/core/generic.py
Type:      method

<img src = 'image/슬라이드7.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드8.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드9.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [15]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [16]:
obj.values

array([ 4,  7, -5,  3])

In [17]:
type(obj.values)

numpy.ndarray

In [21]:
obj2 = pd.Series([4,7,-5,3], index=['a','b','c','d'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [22]:
obj2['c']

-5

In [24]:
obj_different = pd.Series([4,'a',True, (1,2,3)])

int

In [ ]:
type(obj_different[0])

In [26]:
obj.dtype

dtype('int64')

In [28]:
obj = obj.astype('str')

In [30]:
obj

0     4
1     7
2    -5
3     3
dtype: object

In [29]:
obj[0]

'4'

In [31]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_20',
 '_21',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_29',
 '_30',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'df',
 'exit',
 'get_ipython',
 'obj',
 'obj2',
 'obj_different',
 'os',
 'pd',
 'quit']

<img src = 'image/슬라이드10.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [33]:
data = {'Ohio':35000, 'Texas':71000}
data

{'Ohio': 35000, 'Texas': 71000}

In [34]:
data['Ohio']

35000

In [37]:
obj4 = pd.Series(data)
obj4

Ohio     35000
Texas    71000
dtype: int64

In [38]:
obj4/10

Ohio     3500.0
Texas    7100.0
dtype: float64

<img src = 'image/슬라이드11.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드12.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [39]:
import numpy as np

In [ ]:
!pip install numpy

In [41]:
np.arange(6).reshape((2,3))

array([[0, 1, 2],
       [3, 4, 5]])

In [42]:
pd.Index(['Ohio','Colorado'])

Index(['Ohio', 'Colorado'], dtype='object')

In [45]:

array_df = pd.DataFrame(
    np.arange(6).reshape((2,3))
    ,index=pd.Index(['Ohio','Colorado'], name='state')
    ,columns=pd.Index(['one','two','three'], name='number')
)
array_df

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [47]:
array_df.columns

Index(['one', 'two', 'three'], dtype='object', name='number')

In [48]:
array_df.index

Index(['Ohio', 'Colorado'], dtype='object', name='state')

In [49]:
array_df.shape

(2, 3)

In [52]:
array_df['one']

state
Ohio        0
Colorado    3
Name: one, dtype: int64

In [53]:
array_df.one

state
Ohio        0
Colorado    3
Name: one, dtype: int64

<img src = 'image/슬라이드13.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [54]:
data2 = {
    'state':['Ohio','Ohio','Ohio','Nevada','Nevada']
    ,'year':[2000,2001,2002,2001,2002]
}

In [55]:
data2

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002]}

In [58]:
df2 = pd.DataFrame(data2, index=range(1,1+5))
df2

    state  year
1    Ohio  2000
2    Ohio  2001
3    Ohio  2002
4  Nevada  2001
5  Nevada  2002

<img src = 'image/슬라이드14.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [60]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.3-py2.py3-none-any.whl (251 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 251.3/251.3 kB 35.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.3

In [61]:
df1 = pd.read_excel('data/car_data_2011.xlsx')

In [63]:
file_list = [
    'data/car_data_2011.xlsx'
    ,'data/car_data_2012.xlsx'
    ,'data/car_data_2013.xlsx'
    ,'data/car_data_2014.xlsx'
    ,'data/car_data_2015.xlsx'
    ,'data/car_data_2016.xlsx'
    ,'data/car_data_2017.xlsx'
]
df_list = []

In [64]:
for file in file_list :
    df_list.append(pd.read_excel(file))

In [66]:
df_list[0]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Bajaj Avenger Street 220,2011,0.45,0.950,24000,Petrol,Individual,Manual,0
1,Bajaj Discover 125,2011,0.15,0.570,35000,Petrol,Individual,Manual,1
2,city,2011,4.10,10.000,69341,Petrol,Dealer,Manual,0
3,corolla altis,2011,4.35,13.740,88000,Petrol,Dealer,Manual,0
4,corolla altis,2011,4.50,12.480,45000,Diesel,Dealer,Manual,0
5,etios liva,2011,2.65,5.710,43000,Petrol,Dealer,Manual,0
6,Hero Honda CBZ extreme,2011,0.38,0.787,75000,Petrol,Individual,Manual,0
7,Honda Karizma,2011,0.35,1.050,30000,Petrol,Individual,Manual,0
8,i10,2011,2.95,4.600,53460,Petrol,Dealer,Manual,0
9,i10,2011,2.70,4.600,22517,Petrol,Dealer,Manual,0
10,i10,2011,2.55,4.430,57000,Petrol,Dealer,Manual,0
11,i20,2011,2.90,6.790,31604,Petrol,Dealer,Manual,0
12,ritz,2011,2.35,4.890,54200,Petrol,Dealer,Manual,0
13,Royal Enfield Thunder 350,2011,1.05,1.500,6900,Petrol,Individual,Manual,0
14,swift,2011,3.00,4.990,20000,Petrol,Dealer,Manual,0
15,sx4,2011,4.40,8.010,50000,Petrol,Dealer,Automatic,0
16,sx4,2011,2.95,7.740,49998,CNG,Dealer,Manual,0
17,TVS Apache RTR 180,2011,0.50,0.826,6000,Petrol,Individual,Manual,0
18,wagon r,2011,2.85,4.150,5200,Petrol,Dealer,Manual,0

In [67]:
df_list[1]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Bajaj Discover 125,2012,0.20,0.57,25000,Petrol,Individual,Manual,1
1,Bajaj Pulsar NS 200,2012,0.50,0.99,13000,Petrol,Individual,Manual,0
2,Bajaj Pulsar NS 200,2012,0.45,0.99,14500,Petrol,Individual,Manual,0
3,brio,2012,3.00,5.35,53675,Petrol,Dealer,Manual,0
4,corolla altis,2012,5.90,13.74,56000,Petrol,Dealer,Manual,0
5,corolla altis,2012,5.85,18.61,72000,Petrol,Dealer,Manual,0
6,eon,2012,2.00,4.43,23709,Petrol,Dealer,Manual,0
7,fortuner,2012,14.90,30.61,104707,Diesel,Dealer,Automatic,0
8,fortuner,2012,14.50,30.61,89000,Diesel,Dealer,Automatic,0
9,Hero Honda Passion Pro,2012,0.30,0.51,60000,Petrol,Individual,Manual,0
10,i10,2012,3.10,4.60,35775,Petrol,Dealer,Manual,0
11,i20,2012,3.10,6.79,52132,Diesel,Dealer,Manual,0
12,i20,2012,3.75,6.79,35000,Petrol,Dealer,Manual,0
13,omni,2012,1.25,2.69,50000,Petrol,Dealer,Manual,0
14,ritz,2012,3.10,5.98,51439,Diesel,Dealer,Manual,0
15,Royal Enfield Classic 500,2012,0.95,1.75,11500,Petrol,Individual,Manual,0
16,TVS Apache RTR 160,2012,0.60,0.81,19000,Petrol,Individual,Manual,0
17,verna,2012,4.50,9.40,36100,Petrol,Dealer,Manual,0
18,verna,2012,4.50,9.40,36000,Petrol,Dealer,Manual,0
19,verna,2012,4.95,9.40,60000,Diesel,Dealer,Manual,0
20,verna,2012,5.35,9.40,32322,Diesel,Dealer,Manual,0
21,verna,2012,5.20,9.40,71000,Diesel,Dealer,Manual,0
22,Yamaha FZ S,2012,0.40,0.83,5500,Petrol,Individual,Manual,0

In [71]:
df_full = pd.concat(
    df_list
    ,axis='index'
    ,ignore_index=True
)
df_full

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Bajaj Avenger Street 220,2011,0.45,0.95,24000,Petrol,Individual,Manual,0
1,Bajaj Discover 125,2011,0.15,0.57,35000,Petrol,Individual,Manual,1
2,city,2011,4.10,10.00,69341,Petrol,Dealer,Manual,0
3,corolla altis,2011,4.35,13.74,88000,Petrol,Dealer,Manual,0
4,corolla altis,2011,4.50,12.48,45000,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
254,UM Renegade Mojave,2017,1.70,1.82,1400,Petrol,Individual,Manual,0
255,verna,2017,9.25,9.40,15001,Petrol,Dealer,Manual,0
256,verna,2017,9.10,9.40,15141,Petrol,Dealer,Manual,0
257,xcent,2017,5.75,7.13,12479,Petrol,Dealer,Manual,0
258,Yamaha FZ S V 2.0,2017,0.78,0.84,5000,Petrol,Individual,Manual,0

In [73]:
s1 = pd.Series([0,1], index=['a','b'])
s1

a    0
b    1
dtype: int64

In [75]:
s2 = pd.Series([2,3,4], index=['c','d','e'])
s2

c    2
d    3
e    4
dtype: int64

In [76]:
pd.concat([s1,s2], axis='index')

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [78]:
pd.concat([s1,s2], axis='columns')

     0    1
a  0.0  NaN
b  1.0  NaN
c  NaN  2.0
d  NaN  3.0
e  NaN  4.0

In [83]:
s1.reset_index(drop=True)

0    0
1    1
dtype: int64

In [84]:
pd.concat([s1.reset_index(drop=True),s2.reset_index(drop=True)], axis='columns')

     0  1
0  0.0  2
1  1.0  3
2  NaN  4

<img src = 'image/슬라이드15.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드16.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [85]:
member_df = pd.read_csv('data/member_info.csv')
hobby_df = pd.read_csv('data/hobby_info.csv')
certi_df = pd.read_csv('data/certificate_info.csv')

In [86]:
member_df

   회원번호   이름  나이 성별
0     1  홍길동  21  M
1     2  김덕배  19  M

In [87]:
hobby_df

   회원명    취미
0  김덕배    등산
1  박민준  보드게임

In [88]:
certi_df

   회원번호    자격증명
0     1  운전면허1종
1     1    SQLP
2     1  정보처리기사

<img src = 'image/슬라이드17.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드18.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

In [89]:
member_df

   회원번호   이름  나이 성별
0     1  홍길동  21  M
1     2  김덕배  19  M

In [90]:
certi_df

   회원번호    자격증명
0     1  운전면허1종
1     1    SQLP
2     1  정보처리기사

In [91]:
pd.merge(member_df, certi_df, how='left', on='회원번호')

   회원번호   이름  나이 성별    자격증명
0     1  홍길동  21  M  운전면허1종
1     1  홍길동  21  M    SQLP
2     1  홍길동  21  M  정보처리기사
3     2  김덕배  19  M     NaN

In [92]:
pd.merge(member_df, certi_df, how='inner', on='회원번호')

   회원번호   이름  나이 성별    자격증명
0     1  홍길동  21  M  운전면허1종
1     1  홍길동  21  M    SQLP
2     1  홍길동  21  M  정보처리기사

In [93]:
member_df

   회원번호   이름  나이 성별
0     1  홍길동  21  M
1     2  김덕배  19  M

In [94]:
hobby_df

   회원명    취미
0  김덕배    등산
1  박민준  보드게임

In [97]:
pd.merge(member_df, hobby_df, how='outer', left_on='이름', right_on='회원명')

   회원번호   이름    나이   성별  회원명    취미
0   1.0  홍길동  21.0    M  NaN   NaN
1   2.0  김덕배  19.0    M  김덕배    등산
2   NaN  NaN   NaN  NaN  박민준  보드게임

In [96]:
pd.merge(member_df, hobby_df.rename(columns={'회원명':'이름'}), how='outer', on='이름')

   회원번호   이름    나이   성별    취미
0   1.0  홍길동  21.0    M   NaN
1   2.0  김덕배  19.0    M    등산
2   NaN  박민준   NaN  NaN  보드게임

<img src = 'image/슬라이드19.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드20.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드21.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드22.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드23.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드24.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드25.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드26.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드27.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드28.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드29.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드30.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드31.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드32.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드33.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드34.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드35.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드36.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드37.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드38.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드39.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드40.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드41.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드42.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드43.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드44.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드45.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드46.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드47.PNG' alt = 'Drawing' style = 'width: 1200px;'/>

<img src = 'image/슬라이드48.PNG' alt = 'Drawing' style = 'width: 1200px;'/>